{
    title: {
        text: $text,
        subtext: $subtext
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: $legendData
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        data: $axisData
    },
    yAxis: {
        type: 'value',
        boundaryGap: [0, 0.01]
    },
    series: $seriesData
}